name: build and publish

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle Wrapper
        run: ./gradlew build
      - name: Publish with Gradle Wrapper
        if: ${{ success() && github.repository == 'eclipseisoffline/multimod' && github.ref_name == 'main' }}
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_eclipseisofflineUsername: ${{ vars.MAVEN_USER }}
          ORG_GRADLE_PROJECT_eclipseisofflinePassword: ${{ secrets.MAVEN_SECRET }}
